* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2022/10/16/13/17/road-7525091_1280.jpg);
  background-size: cover;
  height: 100vh;
}
h1 {
  padding: 20px 0;
  text-align: center;
  color: rgb(137, 151, 137);
}

form {
  background-image: linear-gradient(
    to right,
    rgb(209, 136, 136),
    rgb(196, 196, 109)
  );
  width: fit-content;
  margin: 20px auto;
  padding: 30px;
  border-radius: 10px;
}

label {
  display: inline-block;
  width: 100px;
}
.lang-div,
.gender-div {
  display: inline-block;
}

.lang-div,
.gender-div label {
  width: auto;
  margin-right: 10px;
}

.inputs {
  border-radius: 5px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.radio-check {
  margin-bottom: 20px;
  /* margin-left: 10px; */
}

.btn-container {
  text-align: center;
}
.btn-container input {
  width: 100px;
  border-radius: 10px;
  border: none;
  background-color: hsl(299, 90%, 80%);
  padding: 10px;
}

.btn-container input:hover {
  background-color: hsl(299, 100%, 40%);
  color: aliceblue;
  font-weight: 700;
  cursor: pointer;
}
.texarea-div * {
  vertical-align: middle;
}
